{% extends "blog/character_base.html" %}

{% block content %}		
	<script type="text/javascript">
		$(document).ready(function(){
 			$("#create").click(function(){
 				$("#create-form").fadeIn();
 			});
 			$("#remove_form").click(function() {
 				$("#create-form").fadeOut();
 			});
 			$("mass_like").click(function() {
 			});
 			$("mass_delete").click(function() {
 			});
 			$(function () {
    			$('[data-toggle="tooltip"]').tooltip();
			});
		});

		function runningFormatter(value,row,index) {
			return index + 1;
		}

		function queryParams() {
			return {
				type: 'owner',
        		sort: 'updated',
        		direction: 'desc',
        		per_page: 100,
        		page: 1
			};
		}
		function actionFormatter(value, row, index) {
	    return [
	        '<a class="remove ml10" href="javascript:void(0)" title="Remove">',
	        '<i class="glyphicon glyphicon-remove"></i>',
	        '</a>'
	    ].join('');
	}

	window.actionEvents = {
	    'click .remove': function (e, value, row, index) {
	        alert('You have deleted this character, row: ' + JSON.stringify(row));
	        console.log(value, row, index);
	    }
	};
	</script>
	<div style="text-align:center;">
		<h1> Welcome to the character database. </h1>
		<br><div class="container"><p> This website is intended as a demo and test site of a system agnostic role playing game character manager being developed by Tai Jantarungsee. Currently, you can create a user and create characters. Characters are not associated with users yet.</p></div>
		<button type="button" id="create" class="btn btn-info"> Create a new character</button>
	</div>
	<div id="create-form" style="display:none;">
		<div class="container">
  			<h2>New Character <button type="button" id="remove_form" class="btn btn-default">
			<i class="glyphicon glyphicon-remove"></i></h2>
  			<form action="" name="character-form" method="post">{% csrf_token %}

    			{{form.as_p}}

    			<button type="submit" class="save btn btn-info">Submit</button>
  			</form>
  		</div>
	</div>
	<div>
		<div class="container">
			<div class="row">
				<div class="col-sm-8">
					<h2>Current Characters</h2>
					<div id="toolbar" class="btn-group">
					   <button type="button" id="mass_like" class="btn btn-default">
					       <i class="glyphicon glyphicon-heart"></i>
					   </button>
					   <button type="button" id="mass_delete" class="btn btn-default">
					       <i class="glyphicon glyphicon-trash"></i>
					   </button>
					</div>
					<table data-toggle="table" data-classes="table table-hover table -condensed" data-striped="true" data-card-view="true" data-click-to-select="true" data-search="true"
       				data-show-refresh="true" data-show-toggle="true" data-toolbar="#toolbar" data-query-params="queryParams"
       				data-pagination="true" data-height="300" data-mobile-responsive="true">
    					<thead>
       						<tr>
       							<th data-field="state" data-checkbox="true"></th>
       							<th class="col-sm-1" 
       							data-formatter="runningFormatter"
       							data-switchable="false">Number</th>
          					    <th class="col-sm-4" data-sortable="true"
          					    data-switchable="false">First Name</th>
          					    <th class="col-sm-4" data-sortable="true">Last Name</th>
          					    <th class="col-sm-1" data-sortable="true">Age</th>
          					    <th class="col-sm-1" data-sortable="true">Race</th>
          					    <th data-field="action" data-formatter="actionFormatter" data-events="actionEvents">Action</th>
       						</tr>
    					</thead>
    				<tbody>
    				{% for character in characters %}
       					<tr>
       						<a href= "{% url 'character_delete' pk=character.pk %}">link</a>
       						<td></td>
       						<td></td>
          					<td><a href="{% url 'character_detail' pk=character.pk %}"
          					data-toggle="tooltip" title="Click to view character details and edit">{{character.first_name}}</a></td>
            				<td>{{character.last_name}}</td>
            				<td>{{character.age}}</td>
            				<td>{{character.race}}</td>
            				<td></td>
        				</tr>
        				{% endfor %}
    				</tbody>
					</table>
				</div>
			</div>
		</div>
{% endblock %}