{% load staticfiles %}
<html>
    <head>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js">"></script>
        <link rel="stylesheet" href="{% static 'css/bootstrap-table.css' %}">
        <link rel="stylesheet" href="{% static 'css/character_builder.css' %}">
        <script src="{% static 'js/bootstrap-table.js' %}"></script>
        <style>
        </style>
        <!-- body {background: #E5E6DD;}<link rel="stylesheet" href="{% static 'css/blog.css' %}"> -->
    </head>
    <body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Character Manager</a>
        </div>
        <ul class="nav navbar-nav">
            <li class="active"><a href="{% url 'char_builder' %}">Characters</a></li>
            <li><a href="{% url 'campaign_list' %}">Campaigns</a></li>
            <li><a href="{% url 'gm' %}">GM Mode</a></li>
        </ul>
        </div>
    </nav>
        <div>
        {% if not user.is_authenticated %}
        <a href="{% url 'create_user' %}" class="badge badge-secondary">Create user</a>
        <a href="{% url 'login' %}" class="badge badge-secondary">Click here to log in</a>
        {% else %}
        You are logged in. <a href="{% url 'logout' %}">Click here to logout.</a>
        {% endif %}
        </div>
            {% block content %}
            {% endblock %}
    </body>
</html>