{% extends "blog/character_base.html" %}
{% block content %}
<script>
$(function(){
	$("#firstbox").hide(0).delay(0).fadeIn(1000);
});

</script>
<div style="text-align:center;">
	PAGE STILL UNDER CONSTRUCTION. Customise your campaign here.
	{{campaign}}
	{{players.all}}
	<div class="container">
		<div class="row">
			<div class="col-sm-8">
				<dl class="dl-horizontal" id="firstbox" style=" border: empty;">
					<dt>Campaign Info</dt>
					<dd>{{campaign.system}}</dd>
					<dt>Allowed Races</dt>
					<dd>{{campaign}}</dd>
					<dt>Another example</dt>
					<dd>{{campaign.human}}</dd>
				</dl>
			</div>
		</div>
	</div>
	<div id="create_form">
		<div class="container">
  			<form action="" name="campaign-form" method="post">{% csrf_token %}

    			{{form.as_p}}

    			<button type="submit" class="save btn btn-info">Submit</button>
  			</form>
  		</div>
	</div>
</div>
{% endblock %}